extends ../base.pug

block content
  if products.length > 0
    each product in products
      .product-item
        h1 #{product.title}
        h2 $#{product.price}
        img(src=product.imageUrl alt=product.title width='100')
        p #{product.description}
        a(href='/products/' + product.id)
          button Details
          form(action='/cart' method='POST')
            input(type='hidden' name='productId' value=product.id)
            button(type='submit') Add To Cart
  else
    h1 No Products
